:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --top-bar-height: 5rem;
  --bottom-bar-height: 3.75rem;
  --app-max-width: 50rem;
  --active-background-color: slategray;
  --background-color: #242424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  text-transform: uppercase;
  border-color: transparent;
  color: inherit;
}

button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.button-base {
  min-width: 10rem;
  border: 2px solid;
  padding: 0.75rem;
}

input {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --active-background-color: lightgray;
    --background-color: #ffffff;
  }
}

/* 
TRANSITIONS
*/

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Slide down transition */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateX(-100%);
  overflow: hidden;
  opacity: 0;
}
