:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --active-background-color: slategray;
  --text-shadow-color: #242424;
  --button-bg-color: rgba(255, 255, 255, 0.87);
  --button-text-color: #213547;
  --bg-color: #242424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  text-transform: uppercase;
  border-color: transparent;
  color: inherit;
}

button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.button-base {
  min-width: 10rem;
  border: 2px solid;
  padding: 0.75rem;
}

input {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --active-background-color: lightgray;
    --text-shadow-color: #ffffff;
    --button-bg-color: slategray;
    --button-text-color: #ffffff;
    --bg-color: #ffffff;
  }
}

/* 
TRANSITIONS
*/

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Slide down transition */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
  overflow: hidden;
  opacity: 0;
}

/* 
ANIMATIONS
*/

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes play-dead {
  1% {
    transform: rotateZ(-15deg);
  }
  2% {
    transform: translate3d(-10%, 0, 0) rotateZ(-15deg);
  }
  3% {
    transform: translate3d(-15%, 0, 0) rotateZ(-12deg);
  }

  10% {
    transform: translate3d(0, 0, 0)  rotateZ(90deg);
  }

  12% {
    transform: translate3d(0, 25%, 0) rotateZ(90deg);
    opacity: 1;
  }

  30% {
    transform: translate3d(0, 25%, 0) rotateZ(90deg);
    opacity: 0.8;
  }

  100% {
    transform: translate3d(0, -400px, 0) rotateZ(0);
    opacity: 0;
  }
}